<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Configure your diagnostic store -->
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=YOUR_ACCOUNT_NAME;AccountKey=YOUR_ACCOUNT_KEY" />
    <!-- Azure Storage Account -->
    <add key="StorageAccount" value="DefaultEndpointsProtocol=https;AccountName=YOUR_ACCOUNT_NAME;AccountKey=YOUR_ACCOUNT_KEY" />
    <!-- Ftp server site, used to get its ipv4 ip, e.g. xxx.cloudapp.net -->
    <add key="FtpServerHost" value="YOUR_SERVER_URL" />
    <!-- Mode="Debug", use development storage; Mode="Live", use azure storage -->
    <add key="Mode" value="Live" />
    <!-- Max number of concurrent clients -->
    <add key="MaxClients" value="5" />
    <!-- Ftp Server Account Management -->
    <!-- Format: name="FtpAccount", value="(username1:password1)(username2:password2)..." -->
    <!-- Username will be used as container name in Azure Blob, password must not contain ')' -->
    <add key="FtpAccount" value="(container1:test1)(container2:test2)(container3:test3)($root:testroot)" />
    <!-- The port to use for passive FTP -->
    <add key="FtpPasvPort" value="59860" />
    <!-- No need to edit these unless specifically required (reserved for future use) -->
    <add key="ConnectionEncoding" value="UTF8" />
    <add key="MaxIdleSeconds" value="60" />
    <add key="QueueNotification" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
